#root {
    -fx-background-color: #F4D58D;
    -fx-background-image: url("/gradientBackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-padding: 50;
}

@font-face {
    font-family: 'Joystix Monospace';
    src: url("//Fonts//joystix_monospace.otf");
}

.title {
    -fx-font-size: 35pt;
    -fx-font-family: "Joystix Monospace";
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

@font-face {
    font-family: 'Poppins';
    src: url("//Fonts//Poppins-SemiBold.ttf")
}

.headers {
    -fx-font-size: 14pt;
    -fx-font-family: "Poppins";
    -fx-font-weight: 700;
}

.notes {
    -fx-font-size: 8pt;
    -fx-font-family: "Poppins";
    -fx-font-weight: normal;
}

.minterms-box, .dontcares-box, .startvariable-box, .solution-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.rounded-button {
    -fx-background-radius: 20;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

.rounded-button:hover {
    -fx-background-color: #708D81;
    -fx-text-fill: #000000;
}