#root {
    -fx-background-color: #F4D58D;
}

@font-face {
    font-family: 'Dulce-Boy';
    src: url("//Fonts//Dulce-Boy.ttf");
}

.title {
    -fx-font-size: 36pt; /* Increased font size */
    -fx-font-family: "Dulce-Boy";
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

@font-face {
    font-family: 'Poppins';
    src: url("//Fonts//Poppins-SemiBold.ttf")
}

.headers {
    -fx-font-size: 14pt;
    -fx-font-family: "Poppins";
    -fx-font-weight: normal;
}

.minterms-box, .dontcares-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.solution-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.rounded-button {
    -fx-background-radius: 20;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

.rounded-button:hover {
    -fx-background-color: #708D81;
    -fx-text-fill: #000000;
}
