body {
    font-family: 'Roboto', sans-serif;
    color: #001427;
    background-color: #F4D58D;
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
    color: #001427;
    text-align: center;
    margin-bottom: 2rem;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #708D81;
    padding: 1rem;
    border-radius: 10px;
}

label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #001427;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#results {
    background-color: #708D81;
    padding: 1rem;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 400px;
    width: 80%;
    white-space: pre-wrap;
    word-wrap: break-word;
}